* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #000005;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
}
